<!--Footer -Begin -->


<script type="text/javascript">
    $(window).load(function () {
        var impressumValue = '';
        if (impressumValue.length > 0) {
            $("footer a.imprint").show();
        }
    });
</script>


<script type="text/javascript">
    var d = new Date();
    var yr = d.getFullYear();
</script>

<footer id="footer-v2">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h3>About Us</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-5">


                <!--Loading the Config Asset (Metric-CFG_ASSET)-->


                <!--From Config Asset (Metric-CFG_ASSET) - getting Locales and AssetIds of Regions STARTS-->


                <!--From Config Asset (Metric-CFG_ASSET) - getting Locales and AssetIds of Regions ENDS-->


                <!--setting the content value to a fatwire variable -->


                <p>Equinix connects the world's leading businesses to their customers, employees and partners inside the world's most
                    connected data centers in 40 markets across five continents. In the United States, Equinix operates data centers in
                    Atlanta, Boston, Chicago, Dallas, Denver, Los Angeles, Miami, New York, Philadelphia, Seattle, Silicon Valley and
                    Washington D.C.</p>


                <!--Loading the Config Asset (Metric-CFG_ASSET)-->


                <!--From Config Asset (Metric-CFG_ASSET) - getting Locales and AssetIds of Regions STARTS-->


                <!--From Config Asset (Metric-CFG_ASSET) - getting Locales and AssetIds of Regions ENDS-->


                <!--setting the content value to a fatwire variable -->


                <p>TelecityGroup has been acquired by Equinix, Inc. The former Telecity assets now operate as Equinix Telecity.</p>


                <a href="/company/newsletters/">
                    <i class="EQ-Newspaper"></i>
                </a>
                <a href="https://blog.equinix.com" target="_blank"><i class="fa fa-rss"></i></a>
                <a href="https://twitter.com/Equinix" target="_blank" class="twitter">
                    <i class="fa fa-twitter"></i>
                </a>
                <a class="facebook" target="_blank" href="https://www.facebook.com/Equinix">
                    <i class="fa fa-facebook"></i>
                </a>
                <a href="https://www.linkedin.com/company/equinix" target="_blank" class="linkedin">
                    <i class="fa fa-linkedin"></i>
                </a>
                <a href="https://plus.google.com/+equinix/posts" target="_blank" class="google-plus">
                    <i class="fa fa-google-plus"></i>
                </a>
                <a href="https://www.youtube.com/user/equinixvideos" target="_blank" class="youtube">
                    <i class="fa fa-youtube"></i>
                </a>
            </div>
            <div class="col-xs-6 col-sm-offset-1 col-sm-3">
                <h4>Services</h4>
                <ul>
                    <li>
                        <a href="/services/interconnection-connectivity/">Interconnection &amp; Connectivity</a>
                    </li>
                    <li>
                        <a href="/services/data-centers-colocation/">Data Centers &amp; Colocation</a>
                    </li>
                    <li>
                        <a href="/services/consulting/">Professional Services</a>
                    </li>
                    <li>
                        <a href="/services/marketplace/">Equinix Marketplace</a>
                    </li>
                </ul>
                <h4>Solutions</h4>
                <ul>
                    <li>
                        <a href="/solutions/cloud-infrastructure/">Cloud Infrastructure</a>
                    </li>
                    <li>
                        <a href="/solutions/business-continuity/">Disaster Recovery</a>
                    </li>
                    <li>
                        <a href="/solutions/applications-content-acceleration/">Applications &amp; Content Acceleration</a>
                    </li>
                    <li>
                        <a href="/solutions/wan-optimization/">WAN Optimization</a>
                    </li>
                </ul>
            </div>
            <div class="col-xs-6 col-sm-3">
                <h4>Data Centers</h4>
                <ul>
                    <li>
                        <a href="/locations/americas-colocation/americas-data-centers/">Americas</a>
                    </li>
                    <li>
                        <a href="/locations/europe-colocation/europe-data-centers/">EMEA</a>
                    </li>
                    <li>
                        <a href="/locations/asia-colocation/asia-data-centers/">Asia-Pacific</a>
                    </li>
                </ul>
                <h4>Company</h4>
                <ul>
                    <li>
                        <a href="/newsroom/">Newsroom</a>
                    </li>
                    <li>
                        <a href="https://blog.equinix.com" target="_blank">Blog</a>
                    </li>
                    <li>
                        <a href="http://forum.equinix.com" target="_blank">Forum</a>
                    </li>
                    <li>
                        <a href="/company/careers/">Careers</a>
                    </li>
                    <li>
                        <a href="/partners/">Partners</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <p>
 <span class="copyright">
 &copy;
     <script type="text/javascript">document.write(yr);</script> <a href="/">Equinix, Inc.</a>
 All rights reserved. 
 </span>
                </p>
            </div>
            <div class="col-xs-12">
                <p>
                    <a href="/company/legal/terms/">Terms of Use</a>
                    <a href="/company/legal/privacy/">Privacy Statement</a>
                    <a href="https://www.customersat3.com/TakeSurvey.asp?si=XUNAUULZCE4%3D" target="_blank">Tell Equinix</a>
                    <a href="/sitemap/">Sitemap</a>
                    <a data-target="#imprint" data-toggle="modal" class="imprint" style="display:none;">Imprint</a>
                    <a href="/people-test" style="display:none;" rel="nofollow">Humans</a>
                </p>
            </div>
        </div>
    </div>
</footer>


<!--End - Footer-->