body {
  overflow-x: hidden !important;
    /*******************
	 * Content container -------------------------------------------------------
	 *******************/
  /********************
   * Back-to-top button ------------------------------------------------------
   ********************/
  /********
   * FOOTER ------------------------------------------------------------------
   ********/
}
body > .container {
  width: 100%;
  padding: 0;
  overflow-x: hidden !important;
  /*padding-bottom: 40px;*/ /*COMMENTED OUT BY FWTEAM - To remove white margin around CCM - 08-JUNE-2015*/
  /**
   * Remove default Bootstrap margins and padding because of page-wide
   * background-color per section
   */
  /**
   * New breakpoints
   */
  /*****
   * UPA -----------------------------------------------------------------
   *****/
  /*********
   * UPDATES -------------------------------------------------------------
   *********/
  /***********
   * LOCATIONS -----------------------------------------------------------
   ***********/
  /*****
   * MMP -----------------------------------------------------------------
   *****/
  /**********
   * SERVICES ------------------------------------------------------------
   **********/
  /*************
   * WHY EQUINIX ------------------------------------------------------------
   *************/
  /************
  * INDUSTRIES ------------------------------------------------------------
  *************/
  /***********
  * CUSTOMERS ------------------------------------------------------------
  ************/
  /***********
  * CONTACTUS  ------------------------------------------------------------
  ************/
}
body > .container * {
  outline: none !important;
}
body > .container > section > .container {
  max-width: 980px;
  padding-bottom: 0;
}
body > .container > section > .container > .row {
  margin-left: 0;
  margin-right: 0;
}
body > .container > section > .container > .row > div {
  padding-left: 0;
  padding-right: 0;
}
@media (min-width: 1200px) {
  body > .container > .container,
  body > .container .container.widescreen {
    width: 1170px;
  }
}
@media (max-width: 1199px) {
  body > .container > .container,
  body > .container .container.widescreen {
    max-width: 1199px;
  }
}
body > .container > #upa_comp #carousel.carousel.slide .carousel-indicators li {
  position: relative;
  margin: 1px;
  width: 13px;
  background: #000;
  height: 13px;
  vertical-align: top;
  box-shadow: none;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  behavior: url(../../../Global/CSS/PIE.htc);
}
body > .container > #upa_comp #carousel.carousel.slide .carousel-indicators li.active {
  background: #fff;
}
body > .container > #upa_comp #carousel.carousel.slide .item {
  max-height: 500px;
  /* &.active img
  {
      max-height: 500px;
  } */
}
body > .container > #upa_comp #carousel.carousel.slide .item .carousel-caption {
  left: 0;
  right: 0;
}
@media (min-width: 992px) {
  body > .container > #upa_comp #carousel.carousel.slide .item .carousel-caption p.banner {
    font-size: 55px;
    line-height: 49px;
  }
}
@media (min-width: 992px) {
  body > .container > #upa_comp #carousel.carousel.slide .item .carousel-caption p.banner + p {
    font-size: 21px;
    line-height: 27.299px;
  }
}
@media (max-width: 767px) {
  body > .container > #upa_comp #carousel.carousel.slide .item .carousel-caption p.banner + p + button {
    float: none !important;
  }
}
body > .container > section:nth-of-type(1) {
  background-color: #f5f5f5;
  padding-bottom: 80px;
}
body > .container > section:nth-of-type(1) > .container {
  /** SECTION HEADER **/
  /** UPDT_UTM **/
  /** PR_DCM **/
}
@media (max-width: 991px) and (min-width: 768px) {
  body > .container > section:nth-of-type(1) > .container {
    padding-right: 0;
  }
}
body > .container > section:nth-of-type(1) > .container > .row:first-child h1 {
  color: #a1a1a4;
  font-size: 76px;
  text-transform: uppercase;
  margin-bottom: 20px;
  margin-top: 20px;
  font-family: "proxima_novablack", Arial, Helvetica, sans-serif !important;
  line-height: 76px;
}
@media (max-width: 767px) {
  body > .container > section:nth-of-type(1) > .container > .row:first-child h1 {
    font-size: 48px;
    text-align: center;
  }
}
body > .container > section:nth-of-type(1) > .container > .row:first-child p {
  float: right;
  font-family: "proxima_novalight", Arial, Helvetica, sans-serif !important;
  font-size: 18px;
  line-height: 23.399px;
  color: #333;
}
@media (min-width: 992px) {
  body > .container > section:nth-of-type(1) > .container > .row:first-child p {
    margin-top: 55px;
  }
}
@media (max-width: 991px) {
  body > .container > section:nth-of-type(1) > .container > .row:first-child p {
    margin-top: -20px;
    margin-bottom: 20px;
    float: none;
  }
}
@media (max-width: 767px) {
  body > .container > section:nth-of-type(1) > .container > .row:first-child p {
    text-align: center;
  }
}
body > .container > section:nth-of-type(1) > .container > .row:first-child + .row {
  margin-top: 0;
}
body > .container > section:nth-of-type(1) > .container .updt_utm-wrapper {
  background-color: white;
}
@media (max-width: 767px) {
  body > .container > section:nth-of-type(1) > .container .updt_utm-wrapper img {
    width: 205px;
  }
}
body > .container > section:nth-of-type(1) > .container #feed_dcm-wrapper {
  background-color: white;
  border: 1px solid #d9d8d8;
  float: right;
  width: 90%;
  max-height: 250px;
}
body > .container > section:nth-of-type(1) > .container #feed_dcm-wrapper * {
  background-color: transparent;
}
body > .container > section:nth-of-type(1) > .container #feed_dcm-wrapper > p {
  background-color: #f5f5f5;
  border-bottom: 1px solid #d9d8d8;
}
body > .container > section:nth-of-type(1) > .container #feed_dcm-wrapper > div {
  max-height: 209px;
  overflow-y: scroll;
}
.lt-ie9 body > .container > section:nth-of-type(1) > .container #feed_dcm-wrapper > div {
  max-height: 200px;
}
body > .container > section:nth-of-type(1) > .container #feed_dcm-wrapper > div > div {
  border: none !important;
}
@media (max-width: 767px) {
  body > .container > section:nth-of-type(1) > .container #feed_dcm-wrapper {
    margin-top: 40px;
    width: 100%;
  }
}
body > .container > section:nth-of-type(2) {
  padding-bottom: 60px;
}
body > .container > section:nth-of-type(2) > .container {
  /** SECTION HEADER **/
  /** BLACK CIRCLES **/
}
body > .container > section:nth-of-type(2) > .container > .row:first-child h1 {
  font-size: 76px;
  text-transform: uppercase;
  font-family: "proxima_novablack", Arial, Helvetica, sans-serif !important;
  margin-top: 20px;
  margin-bottom: 0;
}
@media (max-width: 767px) {
  body > .container > section:nth-of-type(2) > .container > .row:first-child h1 {
    font-size: 48px;
    text-align: center;
  }
}
body > .container > section:nth-of-type(2) > .container > .row:first-child div:first-child + div p {
  font-family: "proxima_novalight", Arial, Helvetica, sans-serif !important;
  font-size: 18px;
  line-height: 23.399px;
  color: #333;
}
@media (min-width: 992px) {
  body > .container > section:nth-of-type(2) > .container > .row:first-child div:first-child + div p {
    margin-top: 30px;
  }
}
@media (max-width: 767px) {
  body > .container > section:nth-of-type(2) > .container > .row:first-child div:first-child + div p {
    float: none;
    margin-bottom: 20px;
    text-align: center;
  }
}
body > .container > section:nth-of-type(2) > .container > .row:first-child + .row {
  margin-bottom: 40px;
  margin-top: 0;
}
@media (max-width: 1199px) {
  body > .container > section:nth-of-type(2) > .container > .row:first-child + .row {
    margin-top: 30px;
  }
}
body > .container > section:nth-of-type(2) > .container > .row:first-child + .row > div {
  margin-bottom: 10px;
}
@media (max-width: 767px) {
  body > .container > section:nth-of-type(2) > .container > .row:first-child + .row > div {
    text-align: center;
  }
}
body > .container > section:nth-of-type(2) > .container > .row:first-child + .row > div span.circle-number {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  behavior: url(../../../Global/CSS/PIE.htc);
  background-color: black;
  display: inline-block;
  width: 76px;
  height: 76px;
  font: 32px "proxima_novalight" !important;
  color: white;
  text-align: center;
  padding-top: 22px;
}
body > .container > section:nth-of-type(2) > .container > .row:first-child + .row > div span:first-child + span {
  display: inline-block;
  text-transform: lowercase;
  font: 21px/21px "proxima_novalight";
  vertical-align: middle;
}
@media (min-width: 350px) and (max-width: 991px) {
  body > .container > section:nth-of-type(2) > .container > .row:first-child + .row > div span:first-child + span {
    width: 65px;
  }
}
body > .container > section:nth-of-type(3) {
  padding-bottom: 60px;
}
body > .container > section:nth-of-type(3) > .container {
  /** SECTION HEADER **/
  /** BUTTON ROW **/
}
body > .container > section:nth-of-type(3) > .container > .row:first-child {
  margin-bottom: 0;
  margin-top: 0;
}
body > .container > section:nth-of-type(3) > .container > .row:first-child h2 {
  font-size: 36px;
  font-family: "proxima_novabold", Arial, Helvetica, sans-serif !important;
  line-height: 42.75px;
  color: #000;
  margin-bottom: 0;
}
@media (max-width: 767px) {
  body > .container > section:nth-of-type(3) > .container > .row:first-child h2 {
    font-size: 28px;
    text-align: center;
  }
}
body > .container > section:nth-of-type(3) > .container > .row:first-child + .row {
  margin-top: 0px;
}
body > .container > section:nth-of-type(3) > .container > .row:first-child + .row p {
  font-family: "proxima_novalight", Arial, Helvetica, sans-serif !important;
  font-size: 19px;
  line-height: 22.563px;
  color: #333;
}
@media (max-width: 767px) {
  body > .container > section:nth-of-type(3) > .container > .row:first-child + .row p {
    text-align: center;
    font-size: 16px;
  }
}
body > .container > section:nth-of-type(3) > .container > .row:first-child + .row + .row {
  margin-top: 9px;
}
body > .container > section:nth-of-type(3) > .container > .row:first-child + .row + .row + .row {
  text-align: center;
  margin-top: 10px;
  /** MMP BUTTON **/
}
body > .container > section:nth-of-type(3) > .container > .row:first-child + .row + .row + .row .btn-default {
  text-transform: uppercase;
  color: white;
}
body > .container > section:nth-of-type(4) {
  background-color: #242425;
  padding-bottom: 60px;
}
body > .container > section:nth-of-type(4) > .container {
  /** SECTION HEADER **/
}
body > .container > section:nth-of-type(4) > .container > .row:first-child h1 {
  color: white;
  font-size: 76px;
  text-transform: uppercase;
  margin-top: 20px;
  margin-bottom: 20px;
  font-family: "proxima_novablack", Arial, Helvetica, sans-serif !important;
}
@media (max-width: 767px) {
  body > .container > section:nth-of-type(4) > .container > .row:first-child h1 {
    font-size: 48px;
    text-align: center;
  }
}
body > .container > section:nth-of-type(4) > .container > .row:first-child p {
  color: white;
  margin-top: 55px;
  font-size: 18px;
  line-height: 23.399px;
  font-family: "proxima_novalight", Arial, Helvetica, sans-serif !important;
}
@media (max-width: 991px) {
  body > .container > section:nth-of-type(4) > .container > .row:first-child p {
    margin-top: -20px;
    margin-bottom: 20px;
    float: none;
  }
}
@media (max-width: 767px) {
  body > .container > section:nth-of-type(4) > .container > .row:first-child p {
    text-align: center;
  }
}
body > .container > section:nth-of-type(4) > .container > .row:first-child + .row {
  margin-top: 0;
}
body > .container > section:nth-of-type(5) {
  /*COMMENTED OUT BY FWTEAM - NOT NEEDED*/
  /*
  background-image: url(http://www.equinix.com/ss/Satellite?blobcol=urldata&blobkey=id&blobtable=MungoBlobs&blobwhere=1308112935023&ssbinary=true);
  */
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 59px;
}
body > .container > section:nth-of-type(5) h1 {
  text-transform: uppercase;
  color: #fff;
  text-align: center;
  font-size: 76px;
  line-height: 76px;
  font-family: "proxima_novablack", Arial, Helvetica, sans-serif !important;
  margin-bottom: 12px;
  margin-top: 11px;
}
@media (max-width: 767px) {
  body > .container > section:nth-of-type(5) h1 {
    margin-bottom: 0;
    font-size: 48px;
    text-align: center;
    line-height: 48px;
  }
}
body > .container > section:nth-of-type(5) p {
  color: #fff;
  text-align: center;
  font-size: 18px;
  font-family: "proxima_novalight", Arial, Helvetica, sans-serif !important;
  line-height: 23.399px;
}
@media (max-width: 767px) {
  body > .container > section:nth-of-type(5) p {
    text-align: center;
    float: none;
  }
}
body > .container > section:nth-of-type(5) img {
  float: none;
  margin-left: auto;
  margin-right: auto;
}
body > .container > section:nth-of-type(5) div.col-xs-12:first-child + div.col-xs-12 {
  margin-top: 100px;
}
body > .container > section:nth-of-type(5) div.col-xs-12:first-child + div.col-xs-12 + div.col-xs-12 {
  text-align: center;
  margin-top: 166px;
}
body > .container > section:nth-of-type(5) div.col-xs-12:first-child + div.col-xs-12 + div.col-xs-12 a {
  background-color: #fff;
  color: #ff0000;
  border-color: #fff;
}
body > .container > section:nth-of-type(6) {
  background-color: #fff;
  padding-bottom: 60px;
}
body > .container > section:nth-of-type(6) > .container {
  /* Ending paragraph */
}
body > .container > section:nth-of-type(6) > .container > .row:first-child + .row {
  margin-top: 0;
}
body > .container > section:nth-of-type(6) > .container h1 {
  text-transform: uppercase;
  color: #000;
  font-size: 76px;
  margin-bottom: 20px;
  margin-top: 20px;
  font-family: "proxima_novablack", Arial, Helvetica, sans-serif !important;
}
@media (max-width: 767px) {
  body > .container > section:nth-of-type(6) > .container h1 {
    font-size: 48px;
    text-align: center;
  }
}
body > .container > section:nth-of-type(6) > .container p {
  color: #333;
  font-size: 18px;
  font-family: "proxima_novalight", Arial, Helvetica, sans-serif !important;
  margin-top: 55px;
  float: right;
  line-height: 23.399px;
}
@media (max-width: 991px) {
  body > .container > section:nth-of-type(6) > .container p {
    float: none;
    margin-top: -20px;
    margin-bottom: 20px;
  }
}
@media (max-width: 767px) {
  body > .container > section:nth-of-type(6) > .container p {
    text-align: center;
  }
}
body > .container > section:nth-of-type(6) > .container > .row:first-child + .row + .row {
  margin-top: 0;
}
body > .container > section:nth-of-type(6) > .container > .row:first-child + .row + .row h2:first-child {
  font-family: "proxima_novablack", Arial, Helvetica, sans-serif !important;
  font-size: 34px;
  line-height: 34px;
  color: #000;
  text-align: center;
}
@media (max-width: 767px) {
  body > .container > section:nth-of-type(6) > .container > .row:first-child + .row + .row h2:first-child {
    font-size: 28px;
  }
}
body > .container > section:nth-of-type(6) > .container > .row:first-child + .row + .row h2:first-child + h2 {
  font-family: "proxima_novaregular" !important;
  text-align: center;
  font-size: 24px;
  line-height: 30px;
  color: #333;
}
@media (max-width: 767px) {
  body > .container > section:nth-of-type(6) > .container > .row:first-child + .row + .row h2:first-child + h2 {
    font-size: 18px;
  }
}
body > .container > section:nth-of-type(7) {
  /*COMMENTED OUT BY FWTEAM - NOT NEEDED*/
  /*
  background-image: url(http://www.equinix.com/ss/Satellite?blobcol=urldata&blobkey=id&blobtable=MungoBlobs&blobwhere=1308112818022&ssbinary=true);
  */
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 60px;
  /* Logo carousel thing */
  /* Button */
}
body > .container > section:nth-of-type(7) > .container div.row:first-child,
body > .container > section:nth-of-type(7) > .container div.row:first-child + div.row {
  background-color: transparent;
}
body > .container > section:nth-of-type(7) > .container div.row:first-child h1 {
  text-transform: uppercase;
  color: #000;
  font-size: 76px;
  margin-top: 20px;
  margin-bottom: 20px;
  font-family: "proxima_novablack", Arial, Helvetica, sans-serif !important;
}
@media (max-width: 767px) {
  body > .container > section:nth-of-type(7) > .container div.row:first-child h1 {
    font-size: 48px;
    text-align: center;
  }
}
body > .container > section:nth-of-type(7) > .container div.row:first-child p {
  color: #000;
  font-size: 18px;
  font-family: "proxima_novalight", Arial, Helvetica, sans-serif !important;
  margin-top: 55px;
  line-height: 23.399px;
  float: right;
}
@media (max-width: 991px) {
  body > .container > section:nth-of-type(7) > .container div.row:first-child p {
    float: none;
    margin-top: -20px;
    margin-bottom: 20px;
  }
}
@media (max-width: 767px) {
  body > .container > section:nth-of-type(7) > .container div.row:first-child p {
    text-align: center;
  }
}
body > .container > section:nth-of-type(7) > .container div.row + div.row {
  margin-top: 0;
}
body > .container > section:nth-of-type(7) > .container + .row {
  background-color: rgba(255, 255, 255, 0.9);
  margin-top: 50px;
}
body > .container > section:nth-of-type(7) > .container + .row .container {
  max-width: 980px;
}
body > .container > section:nth-of-type(7) div.container + .row + .row {
  margin-top: 43px;
  background-color: transparent;
  text-align: center;
}
body > .container > section:nth-of-type(7) div.container + .row + .row a {
  color: white;
}
body > .container > section:nth-of-type(7) + a + section {
  background-color: #ff0000;
  padding-top: 13px;
  padding-bottom: 13px;
}
body .back-to-top {
  position: fixed;
  display: none;
  top: 150px;
  right: 4%;
  background-image: url(http://www.equinix.com${dotTheme.path}local/UTB/Global/Images/back-to-top_original.png);
  width: 75px;
  height: 86px;
  z-index: 999999;
}
@media (max-width: 767px) {
  body .back-to-top {
    display: none !important;
  }
}
body #footer .info {
  padding-bottom: 29px !important;
}
body #footer .nav-pills {
  display: block;
}
body #footer .copyright a {
  color: #000;
}
@media (max-width: 991px) and (min-width: 768px) {
  body #footer .nav-pills {
    display: inline-block;
  }
  body #footer .nav-pills .social-ul {
    margin-top: 0px;
  }
}
